@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --dark-blue: hsl(209, 23%, 22%); /* Dark Mode Elements */
  --very-dark-blue-bg: hsl(207, 26%, 17%); /* Dark Mode Background */
  --very-dark-blue: hsl(200, 15%, 8%); /* Light Mode Text */
  --dark-gray: hsl(0, 0%, 52%); /* Light Mode Input */
  --very-light-gray: hsl(0, 0%, 98%); /* Light Mode Background */
  --white: hsl(0, 0%, 100%); /* Dark Mode Text & Light Mode Elements */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 62.5%; */
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  background-color: var(--very-light-gray);
  color: var(--very-dark-blue);
}

.dark-mode {
  background-color: var(--very-dark-blue-bg);
  color: var(--white);
}

a {
  text-decoration: none;
  list-style: none;
}

a:-webkit-any-link {
  color: unset;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  width: 100%;
  height: 50px;
}

.darkFooter {
  background-color: var(--dark-blue);
}
